.message {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: .6s ease;
  }

  .message.active {
    opacity: 1;
    top: 10%;
    pointer-events: initial;
  }